<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- this is our beans -->

<!--    <bean class="org.example.Student" name="student1">


       ==================== here value is used as an element==============================
        <property name="studentId">
            <value>22344</value>
        </property>
        <property name="studentName">
            <value>Jyoti Gupta</value>
        </property>
        <property name="studentAddress">
            <value>Delhi</value>
        </property>
        ========================================================================
        -->
        <!--
        ===========Here value is being is used as attribute=====================
        <property name="studentId" value="22344"/>
        <property name="studentName" value="Jyoti Gupta"/>
        <property name="studentAddress" value="Delhi"/>
        ========================================================================
    </bean>
-->

<!--    Now by using p schema-->
    <bean class="org.example.Student" name="student1" p:studentId="24234" p:studentName="Jyoti Gupta" p:studentAddress="Pune"/>

    <!-- if we want more object then create here again by adding bean here  -->
<bean class="org.example.Student" name="student2">
    <property name="studentId" value="1341"/>
    <property name="studentName" value="ABC"/>
    <property name="studentAddress" value="Lucknow"/>
</bean>


</beans>
